@model List<FavouritesPokemon>
@{
    ViewData["Title"] = "Favourites Pokemons";
}

<div class="text-center">
    <h1 class="text-center">Welcome on list of your favourite Pokemons</h1>
    <p>Paragraph</p>
</div>

<div>
    <form id="search-form" method="get">
        <div class="input-group">
            <input type="search" name="searchQuery" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
            <input type="submit" value="Search" />
        </div>
    </form>
</div>


@if (Model is not null)
{
    <div class="container">
        <div class="row">

            @foreach (var pokemon in Model)
            {
                <div class="col-sm-3">
                    <img class="card-img-top" src="~/Graphics/Sprites/front_default/@(pokemon.FavouritePokemon.PokemonId).png" alt="image" style="width:100%" />
                    <div class="card-body">
                        <h4 class="card-title">@char.ToUpper(pokemon.FavouritePokemon.Name[0])@pokemon.FavouritePokemon.Name.Substring(1)</h4>
                        <p class="card-text">
                            Owner name: @pokemon.Owner<br>
                            Nickname: @pokemon.PersonalName<br>
                            Id: @pokemon.FavouritePokemon.PokemonId<br>
                            Height: @pokemon.FavouritePokemon.Height
                            Weight: @pokemon.FavouritePokemon.Weight
                        </p>
                    </div>
                </div>
            }
        </div>
    </div>
}