@model List<Pokemon>
@{
    ViewData["Title"] = "Favourites Pokemons";
}

<div class="text-center">
    <h1 class="text-center">Welcome on list of your favourite Pokemons</h1>
    <p>Paragraph</p>
</div>

<div>
    <form id="search-form" method="get">
        <div class="input-group">
            <input type="search" name="searchQuery" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
            <input type="submit" value="Search" />
        </div>
    </form>
</div>


@if (Model is not null)
{
    <div class="container">
        <div class="row">

            @foreach (var pokemon in Model)
            {
                <div class="col-sm-3">
                    @*<img class="card-img-top" src="@pokemon.Sprites.FrontDefault" alt="image" style="width:100%" />*@
                    <img class="card-img-top" src="~/Graphics/Sprites/front_default/@(pokemon.PokemonId).png" alt="image" style="width:100%" />
                    <div class="card-body">
                        <h4 class="card-title">@char.ToUpper(pokemon.Name[0])@pokemon.Name.Substring(1)</h4>
                        <p class="card-text">
                            Id: @pokemon.PokemonId<br>
                            Height: @pokemon.Height
                            Weight: @pokemon.Weight
                        </p>
                        <a href="@Url.Action("PokemonDetails", "Home",new { id = pokemon.PokemonId })" class="btn btn-primary">See details!</a>
                    </div>
                </div>
            }
            
        </div>
    </div>
}